.cta {

    padding: 100px 0;

    background: linear-gradient(90deg, #0076d6, #00b8ff);

}

.cta-content {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 30px;

}

.cta h2 {

    font-size: 2.4rem;

    margin-bottom: 15px;

}

.cta p {

    color: #eef9ff;

}

@media(max-width:768px) {

    .cta-content {

        flex-direction: column;

        text-align: center;

    }

}